.ui-autocomplete {
	display: block;
	padding: .375rem 0;
	font-size: 1rem;
	line-height: 1.5;
	color: #495057;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #ced4da;
	border-radius: .25rem;
	transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
	max-height: 350px;
	overflow-y: auto;
	z-index: 1050;
}

.ui-autocomplete .ui-menu-item-wrapper {
	padding: 0 .75rem;
}

.ui-autocomplete .ui-menu-item-wrapper.ui-state-active {
	margin: 0;
	background: #bdddff;
}
