.widget .btn-auth {
	display: inline-block;
}

.widget .btn-auth > a {
	font-size: 16px;
	border-radius: 3px;
}

.widget .btn-auth > a > i {
	margin-right: 0 !important;
	color: #fff !important;
}

.widget .btn-auth + .btn-auth {
	margin-left: 5px;
}
