body {
	background: #434A55 !important;
}

#live-editor-map {
	color: #FFF;
	font-family: 'Open Sans', sans-serif !important;
	font-size: 18px;
	font-weight: 600;
	height: 60px;
	line-height: 60px;
	margin: 0;
	text-align: center;
}

/* Modal */
.live-editor-modal *:not(.fa):not(.fonticon) {
	font-family: 'Open Sans', sans-serif !important;
}

.live-editor-modal .modal-content {
	background-color: #fff;
	border: none;
	border-radius: 0;
}

.live-editor-modal .modal-content .modal-header {
	background-color: #fff;
	border-bottom: 1px solid #EEEEEF;
	padding: 20px 20px 18px 20px;
}

.live-editor-modal .modal-content .modal-header h4.modal-title {
	color: #353A42;
	font-size: 18px;
	font-weight: 600;
}

.live-editor-modal .modal-content .modal-header h4.modal-title i.fa {
	color: #92A3B9;
	margin-right: 5px;
}

.live-editor-modal .modal-content .modal-body {
	background-color: #fff;
	padding: 20px 15px;
}

.live-editor-modal .modal-content .modal-body form {
	margin-bottom: 0;
}

.live-editor-modal .modal-content .modal-body form label {
	font-weight: 600;
}

.live-editor-modal .modal-content .modal-footer {
	background-color: #f0f0f0;
	border-top: 1px solid #E6E9EC;
	padding: 15px;
}

.live-editor-modal .modal-content .modal-header .close {
	font-size: 26px;
	margin-right: 5px;
	margin-top: 0;
}

.live-editor-modal .btn {
	border-radius: 2px;
	font-family: inherit !important;
	font-size: 12px;
	padding: 8px 13px;
}

.live-editor-modal .modal-content .modal-footer .btn {
	font-size: 14px;
	font-weight: 400;
	padding: 10px 18px;
}

.live-editor-modal .modal-content .modal-footer .btn-default {
	background-color: #5B697B;
	border-color: #566475;
	color: #fff;
}

.live-editor-modal .modal-content .modal-footer .btn-default:hover,
.live-editor-modal .modal-content .modal-footer .btn-default:focus {
	background-color: #3F4956;
	border-color: #343D48;
	color: #fff;
}

.live-editor-modal .modal-content .list-group-item {
	position: relative;
	display: block;
	padding: 13px 15px;
	margin-bottom: -1px;
	background-color: #fff;
	border: 1px solid #ddd;
}

.live-editor-modal .modal-content .badge {
	display: inline-block;
	min-width: 10px;
	padding: 3px 2px;
	font-size: 12px;
	font-weight: 700;
	line-height: 1;
	color: #fff;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	background-color: #8EA2B1;
	border-radius: 2px;
}

.live-editor-modal .btn.btn-sm {
	font-size: 12px;
	padding: 8px 12px;
}

.live-editor-modal .btn.btn-xs {
	font-size: 10px;
	padding: 8px 12px;
	text-transform: uppercase;
}

/* Styles */
.live-editor-styles-row, .live-editor-styles-widget {
	display: none;
}

/* Iframe */
.live-editor-iframe {
	height: calc(100% - 130px);
	left: 20px;
	right: 20px;
	position: fixed;
	top: 110px;
	width: calc(100% - 40px);
}

.live-editor-iframe iframe {
	border: 0;
	height: 100%;
	overflow-x: hidden;
	width: 100%;
	background: url('<?php echo url('neofrag/modules/live_editor/images/loading.gif') ?>') center center no-repeat #282C31;
	-moz-box-shadow: 0 0 25px 5px #353A42;
	-webkit-box-shadow: 0 0 25px 5px #353A42;
	-o-box-shadow: 0 0 25px 5px #353A42;
	box-shadow: 0 0 25px 5px #353A42
}

/* Save icon */
@-webkit-keyframes blink {
	0%     { opacity: 0; }
	16.66% { opacity: 1; }
	33.33% { opacity: 1; }
	100%   { opacity: 0; }
}

.live-editor-save {
	color: #FFF;
	display: none;
	font-size: 2em;
	line-height: 60px;
	position: absolute;
	right: 15px;
	-webkit-animation: blink 1s linear infinite forwards;
}

/* Navbar */
.live-editor-navbar {
	background-color: #fff;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	font-size: 13px;
	height: 50px;
	line-height: 50px;
}

.live-editor-navbar a {
	text-decoration: none;
}

.live-editor-navbar .logo {
	background: url('<?php echo url('neofrag/modules/live_editor/images/live_editor.png') ?>') no-repeat 0 50%;
	display: inline-block;
	float: left;
	height: 50px;
	margin-left: 10px;
	width: 128px;
}

.live-editor-navbar a.modules-links {
	border-left: 1px solid #ebebeb;
	border-right: 1px solid #ebebeb;
	color: #607D8B;
	display: inline-block;
	float: left;
	height: 50px;
	line-height: 50px;
	margin-left: 20px;
	padding: 0 15px 0 18px;
}

.live-editor-navbar a.modules-links i.fa-link {
	color: #34434A;
}

.live-editor-navbar a.modules-links:hover, .live-editor-navbar a.modules-links:focus {
	color: #01A1CF;
}

.live-editor-navbar #modules-links-collapse {
	border-top: none;
	position: absolute;
	left: 158px;
	top: 50px;
	background-color: #E9EBEF;
	min-width: 200px;
	z-index: 2;
}

.live-editor-navbar #modules-links-collapse ul > li > a {
	color: #607D8B;
	display: block;
	padding: 0 12px;
	font-size: 12px;
}

.live-editor-navbar #modules-links-collapse ul > li > a:first-letter {
	text-transform: uppercase;
}

.live-editor-navbar #modules-links-collapse ul > li > a:hover {
	background-color: #5F666B;
	color: #fff;
}

.live-editor-navbar #modules-links-collapse ul > li + li > a {
	border-top: 1px solid #DADDE2;
}

.live-editor-navbar p {
	color: #607D8B;
	display: inline;
	margin: 0;
	padding-left: 15px;
	line-height: 50px;
}

.live-editor-navbar .live-editor-screen, .live-editor-navbar .live-editor-mode {
	background-color: #ebebeb;
	border: 1px solid #ebebeb;
	border-bottom: 2px solid #ebebeb;
	color: #3a3d43;
	line-height: 18px;
	min-width: 40px;
	outline: 0;
	padding: 7px;
	text-align: center;
}

.live-editor-navbar .live-editor-screen:hover, .live-editor-navbar .live-editor-screen:focus {
	background-color: #fff;
	border: 1px solid #9ea7b5;
	border-bottom: 2px solid #03A9F4;
	color: #4a4e56;
}

.live-editor-navbar .btn-group {
	padding: 0 15px;
	vertical-align: initial;
}

.live-editor-navbar .live-editor-screen.active {
	background-color: #00BCD4;
	border: 1px solid #03A9F4;
	color: #fff;
}

.live-editor-navbar .live-editor-screen.dropdown-toggle + .dropdown-menu {
	border: 0;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	margin: 0;
	min-width: 0;
	padding: 0 15px 15px;
}

.live-editor-navbar .live-editor-mode:hover, .live-editor-navbar .live-editor-mode:focus {
	background-color: #fff;
	border-bottom-color: #01C0DA;
	color: #4a4e56;
}

.live-editor-navbar .live-editor-mode.active {
	background-color: #00c8f4;
	border-color: #01bedb;
	color: #fff;
}

.live-editor-navbar .live-editor-mode i.fa {
	font-size: 14px;
}

.live-editor-close {
	background-color: #EA7C73;
	color: #fff;
	display: inline-block;
	font-size: 13px;
	font-weight: normal;
	height: 50px;
	line-height: 50px;
	padding: 0 20px;
}

.live-editor-close:hover, .live-editor-close:focus {
	background-color: #E84438;
	color: #fff;
}

/* Formulaires */

@media (min-width: 768px) {
	.live-editor-modal .modal-content .form-control {
		border-radius: 0;
		padding: 7px 13px;
	}

	.live-editor-modal .modal-content .form-horizontal .control-label {
		padding-top: 8px;
		margin-bottom: 0;
		text-align: right;
	}
}
