#addons {
	margin-top: 1rem;
	margin-bottom: -30px;

	.card {
		margin-bottom: 30px;

		.card-body {
			padding: 10px;
		}

		.badge {
			position: absolute;
			top: 15px;
			left: 15px;
			font-size: 75%;
		}

		.addon, .image {
			height: 100px;
		}

		.image {
			background-size: auto 100%;
			background-position: 50% 50%;
		}

		.addon {
			background: #ced4da;
			line-height: 100px;
			text-align: center;
			vertical-align: middle;

			.icon {
				display: inline-block;
				background: #fff;
				border-radius: 50%;
				box-shadow: 0 0 15px rgba(0, 0, 0, .15);
				font-size: 30px;
				line-height: 65px;
				height: 65px;
				width: 65px;
				vertical-align: middle;
			}
		}

		.dropdown {
			.dropdown-toggle {
				background-color: #576069;
				border-radius: .25rem;
				font-size: 75%;
				color: #fff;
				padding: 7px 6px 5px 18px;
				position: absolute;
				top: 5px;
				right: 5px;
				vertical-align: middle;

				&:hover {
					background-color: #222b2d;
				}
			}
		}

		h6 {
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			margin: 10px 0 0;
			line-height: 19px;
			min-height: 19px;
			font-weight: 600;
			font-size: 14px;

			&.disabled {
				color: #bebebe;
				font-style: italic;
			}
		}
	}
}
