Options +FollowSymLinks -Indexes
AddDefaultCharset UTF-8

<IfModule mod_rewrite.c>
	RewriteEngine On

	RewriteBase /

	RewriteCond %{REQUEST_URI}      !^/backups/
	RewriteCond %{REQUEST_FILENAME} \.(png|jpg|jpeg|gif|swf|eot|svg|ttf|woff|woff2|zip)$
	RewriteCond %{REQUEST_FILENAME} -f
	RewriteRule .*                  - [L,QSA]

	RewriteRule ^humans.txt$ ajax/settings/humans.txt
	RewriteRule ^robots.txt$ ajax/settings/robots.txt
	RewriteRule (.*)         index.php?request_url=$1 [E=REMOTE_USER:%{HTTP:Authorization},L,QSA]
</IfModule>