Options +FollowSymLinks -Indexes
AddDefaultCharset UTF-8

<IfModule mod_rewrite.c>
	RewriteEngine On

	RewriteBase /

	RewriteCond %{REQUEST_URI} !^/backups/
	RewriteCond %{REQUEST_FILENAME} \.(png|jpg|jpeg|gif|swf|eot|svg|ttf|woff|woff2|zip)$
	RewriteCond %{REQUEST_FILENAME} -f
	RewriteRule .* - [L,QSA]

	RewriteRule ^humans.txt - [E=ROUTE:ajax/settings/humans]
	RewriteRule ^robots.txt - [E=ROUTE:ajax/settings/robots]
	RewriteRule .* index.php [E=REMOTE_USER:%{HTTP:Authorization},L,QSA]
</IfModule>