Options +FollowSymLinks -Indexes -MultiViews
AddDefaultCharset UTF-8

<IfModule mod_rewrite.c>
	RewriteEngine On

	##If your NeoFrag directory is not at http root
	##you need to replace "/" by the correct directory, for example "RewriteBase /neofrag/"
	RewriteBase /

	##Allow direct access to specific directories
	#RewriteCond %{REQUEST_URI} ^/(dir1|dir2)/
	#RewriteRule .* - [L,QSA]

	RewriteCond %{REQUEST_URI} !^/backups/

	##Allow direct access to specific files
	#RewriteCond %{REQUEST_FILENAME} /file1\.php [OR]
	#RewriteCond %{REQUEST_FILENAME} /file2\.php [OR]

	RewriteCond %{REQUEST_FILENAME} \.(png|jpg|jpeg|gif|swf|eot|svg|ttf|woff|woff2|zip)$
	RewriteCond %{REQUEST_FILENAME} -f
	RewriteRule .* - [L,QSA]

	RewriteRule .* index.php [E=REMOTE_USER:%{HTTP:Authorization},L,QSA]
</IfModule>