.module-forum {
	.btn {
		&.pull-right {
			+ .btn {
				margin: 0 15px 0 0;
			}
		}

		+ .pagination {
			margin-left: 15px;
		}
	}

	.card {
		.table {
			margin: 0;

			&.table-striped {
				.forum-content {
					tr:nth-of-type(odd) {
						background-color: #f6f6f6;

						.forum-profile {
							.avatar {
								&:after {
									border-color: #f6f6f6;
								}

								.inner-ring {
									background-color: #f6f6f6;
								}
							}
						}
					}
				}
			}


			.forum-heading {
				.row {
					margin: 0;
				}

				th {
					border: 0;
					padding-top: 20px;
					padding-bottom: 20px;

					i {
						color: #ccc;
					}

					h4 {
						font-weight: 600;
						font-size: 18px;
						white-space: nowrap;
						margin: 0;
					}

					&:first-child {
						padding-left: 15px;
					}
				}
			}

			.forum-content {
				.row {
					margin: 0;
				}

 				td:first-child {
					font-size: 8px;
					text-align: center;
					padding-top: 16px;
				}

				td:nth-child(2) {
					h4 {
						font-size: 14px;
						font-weight: 600;
						margin: 0;
					}
				}

				td:nth-child(4) {
					div {
						text-overflow: ellipsis;
						overflow: hidden;
						white-space: nowrap;
					}
				}

				.topic-icon {
					position: relative;

					.fa {
						+.fa {
							bottom: 0;
							font-size: 15px;
							position: absolute;
							right: -15px;
						}
					}
				}

				.forum-profile {
					font-size: 13px;
					text-align: center;

					h4 {
						font-size: 14px;
						font-weight: 600;
						margin: 0;
					}

					.avatar {
						height: 150px;
						width: 150px;
						margin: 0 auto 25px;

						&:after {
							border-width: 5px;
							border-color: #fff;
						}

						.inner-ring {
							background-color: #fff;
						}
					}
				}

				.pagination {
					padding-right: 25px;

					.btn {
						font-size: 10px;
						padding: 5px 5px 4px;

						+ .btn {
							margin-left: 3px;
						}
					}
				}

				.actions {
					padding-right: 10px;
					float: right;

					.btn {
						font-size: 10px;
						padding: 5px 5px 4px;

						+ .btn {
							margin-left: 3px;
						}
					}
				}

				hr {
					margin: 1rem auto;
					width: calc(100% - 20px);
				}
			}
		}
	}
}
