.user-profile {
	text-align: center;

	.avatar {
		height: 150px;
		width: 150px;
		margin: 15px auto 25px;

		&:after {
			border-width: 5px;
			border-color: #fff;
		}

		.inner-ring {
			background-color: #fff;
		}
	}

	h2 {
		font-size: 18px;
		font-weight: 700;
	}

	h3 {
		font-size: 14px;
		font-weight: 600;
		line-height: 25px;

		.text-muted {
			font-weight: normal;
		}
	}

	.fa {
		&.female {
			color: #ff45ef;
		}

		&.male {
			color: #45beff;
		}
	}

	.socials {
		padding: 15px 0;

		.btn {
			border-radius: 50%;
			color: #fff;
			font-size: 22px;
			line-height: 38px;
			height: 40px;
			padding: 0;
			position: relative;
			width: 40px;
			transition: all .15s ease-in-out;

			+ .btn {
				margin-left: 5px;
			}

			&.website {
				background: #b2b2b2 !important;
			}

			&.linkedin {
				background: #0077B5 !important;
			}

			&.github {
				background: #24292e !important;
			}

			&.instagram {
				background: #e1306c !important;
			}

			&.twitch {
				background: #6441a4 !important;
			}

			&:hover {
				outline: none;
			}
		}
	}
}

.user-col {
	.card {
		position: relative;
		top: -250px;
	}
}

.user-cover {
	background: 50% 50% no-repeat #2b373a;
	height: 400px;
}

.user-info {
	background: #fff;
	padding: 10px 0;
	border: 1px solid #ebebeb;
	border-left: 0;
	border-right: 0;

	[class^="col"] {
		padding-top: 10px;
		padding-bottom: 10px;

		+ [class^="col"] {
			border-left: 1px solid #ebebeb;
		}
	}
}
