.widget-header {
	.site-title {
		text-transform: uppercase;
		font-size: 38px;
		margin-top: 45px;
	}

	.site-description {
		text-transform: uppercase;
		font-size: 14px;
		font-weight: 700;
		margin-bottom: 45px;
	}
}
