@import '../../../../themes/default/css/sass/variables';

.module {
	&.module-search {
		.search {
			text-align: center;

			h3 {
				margin: 25px 0 15px;
			}

			.fa.big {
				background: #2b373a;
				border-radius: 50%;
				border: 5px solid $primary;
				font-size: 75px;
				color: #fff;
				margin: 15px 0 25px;
				height: 150px;
				line-height: 140px;
				width: 150px;
			}

			form {
				width: 70%;
				text-align: center;
				margin: auto;
			}
		}
	}
}
