#addons {
	margin-top: 25px;
}

.thumbnail .label {
	position: absolute;
	top: 10px;
	left: 18px;
	font-size: 65%;
}

.thumbnail .icon, .thumbnail .image {
	height: 100px;
}

.thumbnail .image {
	background-size: auto 100%;
	background-position: 50% 50%;
}

.thumbnail .icon {
	background: #ccc;
	line-height: 100px;
	text-align: center;
	vertical-align: middle;
}

.thumbnail .icon .fa {
	background: #fff;
	border-radius: 50%;
	font-size: 30px;
	line-height: 65px;
	height: 65px;
	width: 65px;
	vertical-align: middle;
}

.thumbnail .dropdown .dropdown-toggle {
	background: #fff;
	border-radius: 50%;
	font-size: 75%;
	color: #ccc;
	position: absolute;
	top: 5px;
	right: 5px;
	text-align: center;
	line-height: 15px;
	height: 15px;
	width: 15px;
	vertical-align: middle;
}

.thumbnail h6 {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	margin: 5px 0 0;
	line-height: 28px;
	min-height: 28px;
}

.thumbnail h6.disabled {
	color: #bebebe;
	font-style: italic;
}
