.delete.alert > h4.alert-heading {
	background: url('<?php echo image('icons-24/cross.png'); ?>') no-repeat 0 50%;
	line-height: 30px;
	margin-bottom: 20px;
	padding-left: 30px;
}

.delete.alert > p {
	margin-top: 20px;
}

