.small-box {
	border-radius: 2px;
	display: block;
	margin-bottom: 15px;
	position: relative;
}

.small-box > .inner {
	padding: 10px 20px;
}

.small-box > .small-box-footer {
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0.1);
	color: rgba(255, 255, 255, 0.8);
	display: block;
	padding: 4px 0;
	position: relative;
	text-align: center;
	text-decoration: none;
	z-index: 10;
}

.small-box > .small-box-footer:hover {
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0.15);
	color: #fff;
}

.small-box h3 {
	font-size: 38px;
	font-weight: bold;
	margin: 10px 0 0 0;
	padding: 0;
	white-space: nowrap;
}

.small-box p {
	font-size: 15px;
}

.small-box p > small {
	color: #f9f9f9;
	display: block;
	font-size: 13px;
	margin-top: 5px;
}

.small-box .icon {
	bottom: 15px;
	color: rgba(0, 0, 0, 0.15);
	font-size: 90px;
	position: absolute;
	right: 15px;
	top: auto;
	z-index: 0;
}