body {
	font-family: 'Open Sans', sans-serif;
	background: <?php echo color2hex($this->config->nf_maintenance_background_color) ?: '#000'; ?>;
	color: <?php echo $color = color2hex($this->config->nf_maintenance_text_color) ?: '#fff'; ?>;
	overflow: hidden;
}

html, body {
	width: 100%;
	height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0 0 35px;
	text-transform: uppercase;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	color: #FFF;
	letter-spacing: 1px;
}

p {
	margin: 0 0 25px;
	font-size: 18px;
	line-height: 1.5;
}

@media(min-width:768px) {
	p {
		margin: 0 0 35px;
		font-size: 20px;
		line-height: 1.6;
	}
}

a {
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}

a:hover,
a:focus {
	text-decoration: none;
}

.navbar-custom {
	margin-bottom: 0;
	border-bottom: 1px solid rgba(255,255,255,.3);
	text-transform: uppercase;
	font-family: 'Open Sans', sans-serif;
}

.navbar-custom .navbar-brand {
	font-weight: 700;
}

.navbar-custom .navbar-brand:focus {
	outline: 0;
}

.navbar-custom .navbar-brand .navbar-toggle {
	padding: 4px 6px;
	font-size: 16px;
	color: <?php echo $color; ?>;
}

.navbar-custom .navbar-brand .navbar-toggle:focus,
.navbar-custom .navbar-brand .navbar-toggle:active {
	outline: 0;
}

.navbar-custom a, .navbar-custom .navbar-brand {
	color: <?php echo $color; ?>;
}

.navbar-custom .nav li a:hover,
.navbar-custom .nav li a:focus,
.navbar-custom .nav li a:active {
	outline: 0;
	background: none;
}

img.logo {
	max-width: 180px;
}

@media(max-width:768px) {
	img.logo {
		max-height: 45px;
		margin: 10px;
	}
}

@media(min-width:768px) {
	.navbar-custom {
		padding: 20px 0;
		border-bottom: 0;
		letter-spacing: 1px;
		background: 0 0;
		-webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
		-moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
		transition: background .5s ease-in-out,padding .5s ease-in-out;
	}

	.navbar-custom.top-nav-collapse {
		padding: 0;
		border-bottom: 1px solid rgba(255,255,255,.3);
		background: #000;
	}
}

.intro {
	display: table;
	width: 100%;
	height: auto;
	padding: 100px 0;
	text-align: center;
	background: url('<?php echo $this->config->nf_maintenance_background ? path($this->config->nf_maintenance_background) : image('backgrounds/maintenance.jpg'); ?>') <?php echo $this->config->nf_maintenance_background_repeat ?: 'no-repeat'; ?> <?php echo $this->config->nf_maintenance_background_position ?: 'top center'; ?>;
}

.intro .intro-body {
	display: table-cell;
	vertical-align: middle;
}

.intro .intro-body .brand-heading {
	font-size: 26px;
}

.intro .intro-body .intro-text {
	font-size: 16px;
}

#countdown {
	margin-top: 10px;
}

@media(min-width:768px) {
	.intro {
		height: 100%;
		padding: 0;
	}

	.intro .intro-body .brand-heading {
		font-size: 48px;
	}

	.intro .intro-body .intro-text {
		font-size: 24px;
	}
}

footer {
	padding: 25px 0;
	position: absolute;
	bottom: 0;
	width: 100%;
}

footer p {
	font-size: 14px;
	margin: 0;
}

footer > a.btn-login {
	position: absolute;
	right: 20px;
	bottom: 20px;
	padding: 8px 12px;
	background-color: #000;
	color: #fff;
	opacity: 0.5;
}

footer > a.btn-login:hover {
	opacity: 1;
}

#login {
	z-index: 9999;
	width: 340px;
	height: 100%;
	background-color: #000;
	position: absolute;
	top: 0;
	right: -340px;
	padding: 50px;
}

#login .login-body {
	color: #fff;
	vertical-align: top;
}

#login .login-body .form-group > label {
	color: #979DA5;
}

#login a.btn-close {
	position: absolute;
	font-size: 12px;
	right: 20px;
	bottom: 20px;
	padding: 6px 10px;
	background-color: #000;
	border: 2px solid #fff;
	border-radius: 5px;
	color: #fff;
	opacity: .4;
}

#login a.btn-close:hover {
	opacity: 1;
}