#sidebar {
	min-width: 250px;
	max-width: 250px;
	background: #222b2d;
	color: #fff;
	transition: all 0.3s;

	.sidebar-header {
		padding: 15px 15px 25px;
	}

	.logo {
		text-align: center;
		display: block;
		height: 71px;
		position: relative;

		svg {
			height: 100px;
			position: absolute;
			left: calc(50% - 60px);
		}

		.badge {
			background: $secondary;
			font-family: 'Open Sans', sans-serif;
			font-weight: 300;
			font-size: 9px;
			text-transform: uppercase;
			text-shadow: 1px 1px 2px rgba(0, 0, 0, .25);
			letter-spacing: .7px;
			position: absolute;
			top: 58px;
			right: 10px;
			z-index: 200;
		}
	}

	&.active {
		margin-left: -250px;
	}

	.nav {
		.nav-item {
			padding: 0;
			border: 0!important;

			.nav-link {
				color: #6a7779;
				display: block;
				font-weight: 600;
				padding: 5px 5px 5px 30px;
				position: relative;
				line-height: 42px;
				border-bottom: 1px solid #2b373a;
				transition: all .2s ease-in;

				&:hover, &.active {
					border-left: 6px solid $primary;
					color: #fff;

					i {
						color: $primary;
					}
				}

				&.active {
					+ .nav {
						display: block;
					}
				}

				i {
					margin-right: 11px;
				}

				&[data-toggle="collapse"] {
					> .fa-angle-down {
						margin-left: 15px;
					}
				}

				.badge {
					margin-top: 18px;
				}
			}

			> .nav {
				background: #1e2527;
				padding: 10px 0;
				display: none;

				.nav-item {
					.nav-link {
						border: 0;
						line-height: 25px;
					}
				}
			}
		}
	}
}

#sidebarCollapse {
	padding: 5px 7px;
	font-size: 18px;
}

ul.monitoring {
	padding: 20px 15px;

	> li {
		> .btn {
			border-radius: 5px;
			font-size: 13px;
			text-transform: none;

			i.fa-heartbeat.fa-beat {
				animation:fa-beat 4s ease infinite;
				font-size: 16px;
				margin-right: 7px;
			}
		}

		> span.badge {
			margin-top: 10px;
			margin-right: 10px;
		}
	}
}

@keyframes fa-beat {
	0% {
		transform:scale(1);
	}
	5% {
		transform:scale(1.25);
	}
	20% {
		transform:scale(1);
	}
	30% {
		transform:scale(1);
	}
	35% {
		transform:scale(1.25);
	}
	50% {
		transform:scale(1);
	}
	55% {
		transform:scale(1.25);
	}
	70% {
		transform:scale(1);
	}
}

@media(max-width:768px){
	#sidebar {
		margin-left: -250px;
	}

	#sidebar.active {
		margin-left: 0px;
	}

	#sidebarCollapse span {
		display: none;
	}
}
