.module-user .activity-message-item {
	padding: 15px 0;
}

.module-user .activity-message-item:first-child {
	padding-top: 0;
}

.module-user .activity-message-item:last-child {
	padding-bottom: 0;
}

.module-user .activity-message-item + .activity-message-item {
	border-top: 1px solid #ebebeb;
}
