body {
	background: #434A55 !important;
}

#live-editor-map {
	font-weight: 600;
	margin-top: 8px;
}

.live-editor-modal .modal-content {
	background-color: #fff;
}

.live-editor-modal .modal-content .modal-header {
	background-color: #fff;
	border-bottom: 1px solid #EEEEEF;
	padding: 20px 20px 18px 20px;
}

.live-editor-modal .modal-content .modal-header h5.modal-title {
	color: #353A42;
	font-size: 16px;
	font-weight: 600;
}

.live-editor-modal .modal-content .modal-header h5.modal-title i.fa {
	color: #92A3B9;
	margin-right: 5px;
}

.live-editor-modal .modal-content .modal-body {
	background-color: #fff;
	padding: 20px 15px;
}

.live-editor-modal .modal-content .modal-body .form-group.row + .form-group.row {
	margin-top: 0;
}

.live-editor-modal .modal-content .modal-body form {
	margin-bottom: 0;
}

.live-editor-modal .modal-content .modal-body form label {
	font-weight: 600;
}

.live-editor-modal .modal-content .modal-body form .btn-group {
	border: 1px solid #ced4da;
	border-radius: 4px;
}

.live-editor-modal .modal-content .modal-body .input-group-text {
	background-color: #f8f9fa;
	border-color: #ced4da;
	color: #6c757d;
	text-shadow: none;
}

.live-editor-modal .modal-content .modal-body form label.radio-inline {
	padding-top: 6px;
}

.live-editor-modal .modal-content .modal-body form label.radio-inline + label.radio-inline {
	margin-left: 10px;
}

.live-editor-modal .modal-content .modal-body form .btn-group .btn {
	margin-bottom: 0;
}

.live-editor-modal .modal-content .modal-body ul.nav-pills {
	margin: 20px 0 5px;
}

.live-editor-modal .modal-content .modal-body .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
	background-color: #17a2b8;
}

.live-editor-modal .modal-content .modal-body .border-light {
	border: 2px solid #E6E9EC !important;
	border-radius: 5px;
	padding: 15px 15px 0;
}

.live-editor-modal .modal-content .modal-footer {
	background-color: #f0f0f0;
	border-top: 1px solid #E6E9EC !important;
	padding: 15px;
}

.live-editor-modal .modal-content .list-group-item {
	position: relative;
	display: block;
	padding: 13px 15px;
	margin-bottom: -1px;
	background-color: #fff;
	border: 1px solid #ddd;
}

.live-editor-modal .modal-content .badge {
	display: inline-block;
	min-width: 10px;
	padding: 3px 2px;
	font-size: 12px;
	font-weight: 700;
	line-height: 1;
	color: #fff;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	background-color: #8EA2B1;
	border-radius: 2px;
}

/* Styles */
.live-editor-styles-row, .live-editor-styles-widget {
	display: none;
}

/* Iframe */
.live-editor-iframe {
	height: calc(100% - 92px);
	left: 20px;
	right: 20px;
	position: fixed;
	top: 75px;
	width: calc(100% - 40px);
}

.live-editor-iframe iframe {
	border: 0;
	height: 100%;
	overflow-x: hidden;
	width: 100%;
	background: url('<?php echo url('modules/live_editor/images/loading.gif') ?>') center center no-repeat #282C31;
	-moz-box-shadow: 0 0 25px 5px #353A42;
	-webkit-box-shadow: 0 0 25px 5px #353A42;
	-o-box-shadow: 0 0 25px 5px #353A42;
	box-shadow: 0 0 25px 5px #353A42
}

/* Save icon */
@-webkit-keyframes blink {
	0%     { opacity: 0; }
	16.66% { opacity: 1; }
	33.33% { opacity: 1; }
	100%   { opacity: 0; }
}

.live-editor-save {
	color: #FFF;
	display: none;
	font-size: 2em;
	line-height: 60px;
	position: absolute;
	right: 15px;
	-webkit-animation: blink 1s linear infinite forwards;
}

/* Navbar */

.live-editor-navbar {
	z-index: 2;
}

.live-editor-navbar a.navbar-brand {
	color: #000000;
}

.live-editor-navbar a.navbar-brand span {
	color: #545b62;
}

.live-editor-navbar a.navbar-brand > i.icon {
	color: #00d7b3;
}

a.thumbnail {
	border-radius: 3px;
	border: 2px solid #c6c6c6;
	display: inline-block;
	padding: 5px;
}

a.thumbnail.active, a.thumbnail.active:hover {
	border-color: #77bc00;
}

a.thumbnail:hover {
	border-color: #b1b1b1;
}

.dropdown-menu.screen {
	min-width: auto;
}

/* Pulsating Caret */
[data-typer]:after {
	content:"";
	display: inline-block;
	vertical-align: middle;
	width: 1px;
	height: 1em;
	background: #000;
	animation: caretPulsate 1s linear infinite;
	-webkit-animation: caretPulsate 1s linear infinite;
}

@keyframes caretPulsate {
	0%   {opacity:1;}
	50%  {opacity:1;}
	60%  {opacity:0;}
	100% {opacity:0;}
}

@-webkit-keyframes caretPulsate {
	0%   {opacity:1;}
	50%  {opacity:1;}
	60%  {opacity:0;}
	100% {opacity:0;}
}
