html,
body {
	background-image: url("<?php echo NeoFrag()->model2('file', $this->config->nf_maintenance_background)->path() ?: image('maintenance.jpg') ?>");
	background-position: <?php echo $this->config->nf_maintenance_background_position ?: 'center top' ?>;
	background-repeat: <?php echo $this->config->nf_maintenance_background_repeat ?: 'no-repeat' ?>;
	background-attachment: scroll;
	background-color: <?php echo get_colors($this->config->nf_maintenance_background_color ?: '#343a40') ?>;
	height: 100%;
}

body {
	display: -ms-flexbox;
	display: flex;
}

a,
a:focus,
a:hover {
	color: #fff;
}

.cover-container {
	max-width: 62em;
}

.masthead {
	margin-bottom: 2rem;
}

.logo {
	max-width: 200px;
}

.masthead-brand {
	margin-bottom: 0;
}

.nav-masthead .nav-link {
	padding: .25rem 0;
	font-weight: 700;
	color: rgba(255, 255, 255, .5);
	background-color: transparent;
	border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
	border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
	margin-left: 1rem;
}

.nav-masthead .btn {
	padding: 4px !important;
}

.nav-masthead .active {
	color: #fff;
	border-bottom-color: #fff;
}

.nav-masthead .nav-link + .nav-item {
	margin: 0 15px 0 45px;
	padding: 4px 0;
}

header, main, footer {
	color: <?php echo get_colors($this->config->nf_maintenance_text_color ?: '#fff') ?>;
}

@media (min-width: 48em) {
	.masthead-brand {
		float: left;
	}

	.nav-masthead {
		float: right;
	}
}

.cover {
	padding: 0 1.5rem;
}

.cover .btn-lg {
	padding: .75rem 1.25rem;
	font-weight: 700;
}

.mastfoot {
	color: rgba(255, 255, 255, .5);
}
