.header {
	> .entete {
		background-image: url("<?php echo NeoFrag()->model2('file', $this->config->azuro_background)->path() ?: image('backgrounds/default.jpg', $this->theme('azuro')) ?>");
		background-position: <?php echo $this->config->azuro_background_position ?: 'center top' ?>;
		background-repeat: <?php echo $this->config->azuro_background_repeat ?: 'no-repeat' ?>;
		background-attachment: <?php echo $this->config->azuro_background_attachment ?: 'scroll' ?>;
		background-color: <?php echo color2hex($this->config->azuro_background_color) ?: '#343a40' ?>;
	}

	> .header-breadcrumb {
		padding: .75rem 0;

		.breadcrumb {
			background-color: transparent;
			border: none;
			box-shadow: none;
			margin-bottom: 0;
			padding: .15rem 0;

			> .breadcrumb-item {
				color: #fff;

				> a {
					color: #fff;
					opacity: .9;

					&:hover {
						opacity: 1;
					}
				}

				+.breadcrumb-item:before {
					color: #fff;
				}
			}
		}
	}

	.haut {
		color: #f5f5f5;
	}
}
