.card {
	&.row-white {
		background-color: #fff;
	}

	&.row-light {
		background: url(/neofrag/themes/default/images/gray_light.png);
	}

	&.row-light {
		background: url(/neofrag/themes/default/images/gray_dark.png);
	}

	&.row-black {
		background-color: rgba(0,0,0,.9);
	}

	.row-orange {
		background-color: #ff553e;
	}
}
